/* ParallaxSection.css */
.parallax-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
}

.parallax-content {
  text-align: center;
}
